/* Muuttaa fonttikokoa -perhettä ja tekstin väriä */
.header-esimerkki {
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: navy;
}

/* suosikkiväri + kontrastitausta + reunaviiva */
.color-esimerkki {
    color: darkorange; /* nimetty väri */
    background-color: #1e1e1e; /* heksakoodi - kontrasti */
    border: 3px solid limegreen; /* väri + paksuus */
}


/* Muuttaa luettelon tyyliä ja tekstin väriä */
.lista-esimerkki {
    list-style-type: square; /* bullet point -tyyli */
    color: mediumvioletred;
}

/* Fontti, koko, iso alkukirjain, alleviivaus */
.teksti-esimerkki {
    font-family: Georgia, serif;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: underline;
}

/* Taustaväri + reunaviiva */
.div-esimerkki {
    background-color: #f5f5f5;
    border: 2px dashed steelblue;
    padding: 10px;
}
