/* index.html alapalkin muutos w3css tyylistä omaan */
.w3-container.w3-black.w3-opacity {
  background-color: #d49abc !important; /* oma väripaletti */
  color: #ffffff !important; /* fontin väri */
  opacity: 1 !important; /* poistaa läpinäkyvyyden */
}

/* Oma väri */
.oma-vari { background-color: #ac3c7c !important; color: #fff !important; }
.nav-custom-bg { background-color: #7c2c54 !important; color: #fff !important; }